@font-face {
  font-family: 'BentonSans';
  src: 
    url('../public/fonts/BentonSans/BentonSans-Bold.woff2') format('woff2'),
    url('../public/fonts/BentonSans/BentonSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BentonSans';
  src: 
    url('../public/fonts/BentonSans/BentonSans-Medium.woff2') format('woff2'),
    url('../public/fonts/BentonSans/BentonSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BentonSans';
  src: 
    url('../public/fonts/BentonSans/BentonSans-Regular.woff2') format('woff2'),
    url('../public/fonts/BentonSans/BentonSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BentonSans Book';
  src: 
    url('../public/fonts/BentonSans/BentonSans-Book.woff2') format('woff2'),
    url('../public/fonts/BentonSans/BentonSans-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BentonSans';
  src: 
    url('../public/fonts/BentonSans/BentonSans-Black.woff2') format('woff2'),
    url('../public/fonts/BentonSans/BentonSans-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../public/fonts/Montserrat/Montserrat-Black.woff2') format('woff2'),
      url('../public/fonts/Montserrat/Montserrat-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../public/fonts/Montserrat/Montserrat-Bold.woff2') format('woff2'),
      url('../public/fonts/Montserrat/Montserrat-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../public/fonts/Montserrat/Montserrat-BlackItalic.woff2') format('woff2'),
      url('../public/fonts/Montserrat/Montserrat-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../public/fonts/Montserrat/Montserrat-BoldItalic.woff2') format('woff2'),
      url('../public/fonts/Montserrat/Montserrat-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../public/fonts/Montserrat/Montserrat-ExtraBold.woff2') format('woff2'),
      url('../public/fonts/Montserrat/Montserrat-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../public/fonts/Montserrat/Montserrat-ExtraBoldItalic.woff2') format('woff2'),
      url('../public/fonts/Montserrat/Montserrat-ExtraBoldItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../public/fonts/Montserrat/Montserrat-ExtraLight.woff2') format('woff2'),
      url('../public/fonts/Montserrat/Montserrat-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../public/fonts/Montserrat/Montserrat-ExtraLightItalic.woff2') format('woff2'),
      url('../public/fonts/Montserrat/Montserrat-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../public/fonts/Montserrat/Montserrat-Italic.woff2') format('woff2'),
      url('../public/fonts/Montserrat/Montserrat-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../public/fonts/Montserrat/Montserrat-Light.woff2') format('woff2'),
      url('../public/fonts/Montserrat/Montserrat-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../public/fonts/Montserrat/Montserrat-Medium.woff2') format('woff2'),
      url('../public/fonts/Montserrat/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../public/fonts/Montserrat/Montserrat-LightItalic.woff2') format('woff2'),
      url('../public/fonts/Montserrat/Montserrat-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../public/fonts/Montserrat/Montserrat-MediumItalic.woff2') format('woff2'),
      url('../public/fonts/Montserrat/Montserrat-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../public/fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'),
      url('../public/fonts/Montserrat/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../public/fonts/Montserrat/Montserrat-SemiBold.woff2') format('woff2'),
      url('../public/fonts/Montserrat/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../public/fonts/Montserrat/Montserrat-SemiBoldItalic.woff2') format('woff2'),
      url('../public/fonts/Montserrat/Montserrat-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../public/fonts/Montserrat/Montserrat-Thin.woff2') format('woff2'),
      url('../public/fonts/Montserrat/Montserrat-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../public/fonts/Montserrat/Montserrat-ThinItalic.woff2') format('woff2'),
      url('../public/fonts/Montserrat/Montserrat-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('../public/fonts/SegoeUI/SegoeUI.woff2') format('woff2'),
      url('../public/fonts/SegoeUI/SegoeUI.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('../public/fonts/SegoeUI/SegoeUI-Italic.woff2') format('woff2'),
      url('../public/fonts/SegoeUI/SegoeUI-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('../public/fonts/SegoeUI/SegoeUI-BoldItalic.woff2') format('woff2'),
      url('../public/fonts/SegoeUI/SegoeUI-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('../public/fonts/SegoeUI/SegoeUI-Bold.woff2') format('woff2'),
      url('../public/fonts/SegoeUI/SegoeUI-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../public/fonts/Ubuntu/Ubuntu-Italic.woff2') format('woff2'),
      url('../public/fonts/Ubuntu/Ubuntu-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../public/fonts/Ubuntu/Ubuntu-BoldItalic.woff2') format('woff2'),
      url('../public/fonts/Ubuntu/Ubuntu-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../public/fonts/Ubuntu/Ubuntu-Bold.woff2') format('woff2'),
      url('../public/fonts/Ubuntu/Ubuntu-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../public/fonts/Ubuntu/Ubuntu-Light.woff2') format('woff2'),
      url('../public/fonts/Ubuntu/Ubuntu-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../public/fonts/Ubuntu/Ubuntu-MediumItalic.woff2') format('woff2'),
      url('../public/fonts/Ubuntu/Ubuntu-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../public/fonts/Ubuntu/Ubuntu-LightItalic.woff2') format('woff2'),
      url('../public/fonts/Ubuntu/Ubuntu-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../public/fonts/Ubuntu/Ubuntu-Medium.woff2') format('woff2'),
      url('../public/fonts/Ubuntu/Ubuntu-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../public/fonts/Ubuntu/Ubuntu-Regular.woff2') format('woff2'),
      url('../public/fonts/Ubuntu/Ubuntu-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Metropolis, BentonSans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
  margin: 0;
  padding: 0;
  appearance: none;
  border: 0;
}